/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #0599c2;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --transition: all 0.5s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: Arial;
  transition: var(--transition);
}
.display {
  display: none;
}
@media (min-width: 768px) {
  .display {
    display: flex;
  }
}
p {
  color: #777;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 5px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*Mobile Screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Tab Screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*PC Screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.back-to-top {
  position: fixed;
  z-index: 9999;
  font-size: 35px;
  color: var(--main-color);
  bottom: 15px;
  right: 15px;
  display: none !important;
}
/*main_titel*/
.title {
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
Header
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::before {
  position: absolute;
  content: "";
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
}
header .logo img {
  height: 40px;
}
header nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
header nav ul {
  display: flex;
}
header ul > li > a {
  padding: 40px 10px;
  color: white;
  font-size: 14px;
  display: block;
  position: relative;
  z-index: 1;
  transition: var(--transition);
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .form {
  border-left: 1px solid white;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 30px;
}
header .form i {
  color: #fff;
  font-size: 20px;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  header nav ul {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    flex-direction: column;
    background-color: rgb(0 0 0 / 50%);
  }
  header nav ul li a {
    padding: 15px !important;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
Home
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.home {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../img/landing.jpg);
  position: relative;
}
.home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  left: 0;
  top: 0;
}
.home .box {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
.home .content {
  max-width: 500px;
}
.home .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  padding: 15px 23px;
  border-radius: 50%;
}
.home .change-background:hover {
  background-color: rgb(0 0 0 / 50%);
  color: var(--main-color);
}
.home .fa-angle-left {
  left: 30px;
}
.home .fa-angle-right {
  right: 30px;
}
.home .bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
}
.home .bullets {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 30px;
  transform: translateX(-50%);
  left: 50%;
}
.home .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
@media (max-width: 767px) {
  .home .box {
    width: 100%;
  }
  .home .box .content {
    max-width: 100%;
  }
  .home .fa-angle-left {
    left: 5px;
  }
  .home .fa-angle-right {
    right: 5px;
  }
}
